---
name: Twitter

on:
  pull_request:
  push:
    branches:
      - devel

permissions: {}

jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: gr2m/twitter-together@5c4c327d1ad1ed8e1759e78a697b1cc93c1da692
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  tweet:
    name: Tweet
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Check out the repository
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608

      - name: Tweet
        uses: gr2m/twitter-together@5c4c327d1ad1ed8e1759e78a697b1cc93c1da692
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_SECRET_KEY: ${{ secrets.TWITTER_API_SECRET_KEY }}
