---
name: Unit Tests

on:
  pull_request:

permissions: {}

jobs:
  unit-testing:
    name: Go Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Create artifacts directory
        run: mkdir artifacts

      - name: Run Go unit tests
        run: |
          set -o pipefail
          make unit 2>&1 | tee artifacts/unittest.log

      - name: Collect artifacts
        run: |
          for f in $(find ./pkg -name "*.xml"); do
            mkdir -p artifacts/$(dirname $f)
            cp $f -rfp artifacts/$f
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: Unit test artifacts
          path: artifacts
